[tasks.clean-cov]
    command = "cargo"
    args = [
        "llvm-cov",
        "clean",
        "--workspace",
    ]

[tasks.main-cov]
    command = "cargo"
    args = [
        "all-features",
        "llvm-cov",
        "--no-report",
        "nextest",
        "-p ci",
    ]
    dependencies = [
        "install-dep",
        "clean-cov",
    ]

[tasks.cov]
    env = { "RUST_LOG" = "debug" }
    install_crate = "cargo-llvm-cov"
    command = "cargo"
    args = [
        "llvm-cov",
        "report",
        "--output-path",
        "lcov.info",
        "--lcov",
    ]
    dependencies = [
        "main-cov",
    ]
[tasks.html-cov]
    dependencies = [
        "cov",
    ]
    command = "cargo"
    args = [
        "llvm-cov",
        "report",
        "--html",
    ]

[tasks.test]
    env = { "RUST_LOG" = "debug" }
    command = "cargo"
    args = [
        "all-features",
        "--",
        "nextest",
        "run",
    ]
    dependencies = [
        "install-dep",
    ]

[tasks.install-dep]
    script = "cargo install cargo-all-features cargo-nextest --locked"
