[tasks.test]
    args = [
        "all-features",
        "test",
    ]
    dependencies = [
        "install-dep",
        "build",
    ]
[tasks.install-dep]
    install_crate = "cargo-all-features"
