[tasks.clean-cov]
    command = "cargo"
    args = [
        "llvm-cov",
        "clean",
        "--workspace",
    ]

[tasks.main-cov]
    command = "cargo"
    args = [
        "all-features",
        "llvm-cov",
        "--no-report",
        "nextest",
        "--no-fail-fast",
    ]
    dependencies = [
        "install-dep",
        "clean-cov",
    ]

[tasks.cov]
    command = "cargo"
    args = [
        "llvm-cov",
        "report",
        "--output-path",
        "lcov.info",
        "--lcov",
    ]
    dependencies = [
        "main-cov",
    ]

[tasks.test]
    command = "cargo"
    args = [
        "all-features",
        "--",
        "nextest",
        "run",
        "--no-fail-fast",
    ]

[tasks.install-dep]
    script = "cargo install cargo-all-features cargo-llvm-cov cargo-nextest"
