<!DOCTYPE html>
<html lang="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://raw.githubusercontent.com/sindresorhus/github-markdown-css/gh-pages/github-markdown.css"
    />
    <title>{{path}}</title>
  </head>
  <body class="markdown-body">
    {{{body}}}

    <hr />
    <a href="/">goto root</a>
    <footer style="text-align: center">
      <a
        style="color: rgba(0, 0, 0, 0.489)"
        href="https://github.com/Paul-16098/my-http-server/"
      >my-http-server v{{server-version}}</a>
    </footer>
  </body>
</html>