name: Generate changelog
on:
  push:
    # Trigger only on version tag pushes
    tags:
      - "v*"
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  workflow_call:
    inputs:
      plan:
        required: false
        type: string

permissions:
  contents: write

jobs:
  CHANGELOG:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: taiki-e/install-action@650c5ca14212efbbf3e580844b04bdccf68dac31 # v2.67.18
        with:
          tool: git-cliff

      - name: Generate changelog
        id: changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: git cliff -o -v

      - run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add *
          git commit -m "chore(changelog): update changelog"
          git push
