name: test
permissions:
  contents: read

on:
  push:
    branches:
      - main
      - dev
  pull_request:
  workflow_dispatch:

jobs:
  docker-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build
        run: docker build .
  test-with-httpyac:
    if: false
    runs-on: ubuntu-latest
    name: test with httpyac
    env:
      PORT: 1234
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1.15.2

      - name: Install netcat
        run: |
          if ! command -v nc &> /dev/null; then
            apt-get update && apt-get install -y netcat-openbsd
          fi

      - run: cargo b
      - run: echo "PORT=${{ env.PORT }}" > .env
      - run: cargo run  -- port ${{ env.PORT }} &

      - name: Wait for server to be ready
        run: |
          for i in {1..10}; do
            if nc -z localhost ${{ env.PORT }}; then
              echo "Server is up!"
              break
            else
              echo "Waiting for server..."
              sleep 1
            fi
          done

      - name: test
        id: test
        run: npx httpyac send test/test.http -a -e ./.env

      - run: rm ./.env

  cargo-test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: taiki-e/install-action@3522286d40783523f9c7880e33f785905b4c20d0 # v2.66.1
        with:
          tool: cargo-make
      - run: cargo make test

      - run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git add lcov.info
          git commit -m "Add coverage report" || echo "No changes to commit"
          git push
