name: Docker-test
permissions:
  contents: read

on:
  push:
    branches:
      - main
      - dev
  pull_request:
  workflow_dispatch:

jobs:
  docker-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@master

      - name: Build
        run: docker build .
  test-with-httpyac:
    # allow failed
    if: false
    runs-on: ubuntu-latest
    name: test with httpyac
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1.15.2

      - name: Install netcat
        run: |
          if ! command -v nc &> /dev/null; then
            apt-get update && apt-get install -y netcat-openbsd
          fi

      - run: cargo b
      - run: cargo run &

      - name: Wait for server to be ready
        run: |
          for i in {1..10}; do
            if nc -z localhost 8080; then
              echo "Server is up!"
              break
            else
              echo "Waiting for server..."
              sleep 1
            fi
          done

      - name: test
        id: test
        run: npx httpyac send test/test.http -a --bail --insecure --raw

  cargo-test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: taiki-e/install-action@61e5998d108b2b55a81b9b386c18bd46e4237e4f # v2.63.1
        with:
          tool: cargo-make
      - run: cargo make test
